<div class="topnav">
  {{#each nav}}
    <a href="{{url}}">{{title}}</a>
  {{/each}}
</div>
{{ session.SOMETHING_THAT_YOU_ASSIGNED }}
<h1>Welcome to Salt Shopping</h1>
<a href="/products">Go Shopping</a>
