<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/about">About</a>
</div>

{{ session.SOMETHING_THAT_YOU_ASSIGNED }}
<h1>Welcome to Shop-4-Justice!</h1>
<button class="button button5" onclick="window.location.href='/products'">Go Shopping</button>

