<div class="topnav">
  {{#each nav}}
    <a href="{{url}}">{{title}}</a>
  {{/each}}
</div>
<h1>Welcome to Shop-4-Justice!</h1>
<button class="button button5" onclick="window.location.href='/products'">Go Shopping</button>