<div class="topnav">
  <a href="/">Home</a>
  <a class="active" href="/products">Products</a>
  <a href="/cart">Cart</a>
  <a href="/about">About</a>
</div>

<h1>This is the PRODUCTS page</h1>

{{#each products}}
  <article>
    <button class="button button-p" onclick="window.location.href=`/products/{{id}}`">{{item}}</button>
    {{!-- <p>
      {{id}}, {{price}}
    </p> --}}
  </article>
{{/each}}
