<div class="topnav">
  <a href="/">Home</a>
  <a href="/products">Products</a>
  <a href="/cart">Cart</a>
  <a href="/about">About</a>
</div>

<h1>This is the PRODUCT page</h1>

<article>
  <ul>
    <li>{{product.id}}</li>
    <li>{{product.item}}</li>
    <li>{{product.price}}</li>
    <li>{{product.description}}</li>
  </ul>
</article>
